%p#notice= notice

%p
  %b Name:
  = @collection.name
%p
  %b Description:
  = @collection.description
%p
  %b For codes:
  = @collection.for_codes
%p
  %b Citation info:
  = @collection.citation_info

= link_to 'Edit', edit_collection_path(@collection)
\|
= link_to 'Back', collections_path
