.control-group
  = f.label :email, "Email Address", :class => "control-label"
  .controls
    .input-prepend
      %span.add-on
        %i.icon-envelope
      = f.input_field :email

.control-group
  = f.label :password, "Password", :class => "control-label"
  .controls
    = f.input_field :password

.control-group
  = f.label :password_confirmation, "Confirm Password", :class => "control-label"
  .controls
    = f.input_field :password_confirmation
