.control-group
  = f.label :home_page, "Home Page", :class => "control-label"
  .controls
    = f.text_field :home_page
.control-group
  = f.label :description, "Description", :class => "control-label"
  .controls
    = f.cktext_area :description, :toolbar => 'Full'
.control-group
  = f.label :for_code1, "FOR Code", :class => "control-label"
  .controls
    = f.collection_select :for_code1, @subject_codes, :display_name, :display_name, :include_blank => "None", :required => true
.control-group
  = f.label :for_code2, "FOR Code (optional)", :class => "control-label"
  .controls
    = f.collection_select :for_code2, @subject_codes, :display_name, :display_name, :include_blank => "None"
.control-group
  = f.label :for_code3, "FOR Code (optional)", :class => "control-label"
  .controls
    = f.collection_select :for_code3, @subject_codes, :display_name, :display_name, :include_blank => "None"