- content_for :breadcrumb do
  -title "User Details / #{@user.full_name}"

%div
  - if @user.pending_approval?
    .user_details_menu
      - if can?(:approve, @user) then
        = link_to "Approve", edit_approval_user_path(@user), :method => :get
        &nbsp;
      - if can?(:reject, @user) then
        = link_to "Reject", reject_user_path(@user), :method => :put
        &nbsp;
        = link_to "Reject as Spam", reject_as_spam_user_path(@user), :method => :put
        &nbsp;
      = link_to 'Back', access_requests_users_path

  - if @user.approved?
    .user_details_menu
      - if can?(:update_role, User)
        = link_to 'Edit role', edit_role_user_path(@user)
        &nbsp;
      - if can?(:deactivate, User)
        - if @user == current_user
          = link_to "Deactivate", deactivate_user_path(@user), :confirm => "This is the user you are currently logged is as. Are you sure you want to deactivate it?" , :method => :put
          &nbsp;
        - else
          = link_to "Deactivate", deactivate_user_path(@user), :method => :put
          &nbsp;
      = link_to 'Back', users_path

  - if @user.deactivated?
    .user_details_menu
      - if can?(:update_role, User)
        = link_to 'Edit role', edit_role_user_path(@user)
        &nbsp;
      - if can?(:activate, User)
        = link_to "Activate", activate_user_path(@user), :method => :put
        &nbsp;
      = link_to 'Back', users_path

%table.table.table-condensed{:id => "user"}
  %tr{:id => "display_email"}
    %th Email
    %th.table-value
      = @user.email
  %tr{:id => "display_first_name"}
    %th First name
    %th.table-value
      = @user.first_name
  %tr{:id => "display_last_name"}
    %th Last name
    %th.table-value
      = @user.last_name
  %tr{:id => "display_description"}
    %th Description
    %th.table-value
      = @user.description.to_s.html_safe
  %tr{:id => "display_home_page"}
    %th Home page
    %th.table-value
      = @user.home_page
  %tr{:id => "display_for_codes"}
    %th FOR code(s)
    %th.table-value
      %div= @user.for_code1
      %div= @user.for_code2
      %div= @user.for_code3
  %tr{:id => "display_last_logged_in"}
    %th Last logged in
    %th.table-value
      - if !@user.pending_approval?
        - if @user.last_sign_in_at.nil?
          Never logged in
        - else
          = @user.last_sign_in_at.localtime.strftime("%d/%m/%Y %I:%M%p")
  %tr{:id => "display_role"}
    %th Role
    %th.table-value
      = (@user.role ? @user.role.name : "")
  %tr{:id => "display_status"}
    %th Status
    %th.table-value
      - if @user.status == 'A'
        %span.label.label-success Active
      - elsif @user.status == 'D'
        %span.label.label-important Deactivated
      - elsif @user.status == 'U'
        %span.label.label-info Pending Approval
      - elsif @user.status == 'R'
        %span.label.label-inverse Rejected