-title "Editing experiment"

= form_for(@experiment) do |f|

  = render "shared/error_messages", :target => @experiment

  .control-group
    = f.label :title, "Title", :class => "control-label"
    .controls
      = f.text_field :title

  .control-group
    = f.label :date, "Date", :class => "control-label"
    .controls
      = f.text_field :date, :class => "datepicker"
  .control-group
    = f.label :user, "Owner", :class => "control-label"
    .controls
      = f.collection_select :user_id, @users, :id, :full_name
  .well.well-large
    .control-group
      %h4= "Input Collections"
      = render 'input_collections'
      .controls
        %a{:class => "btn btn-primary btn-small", :href => new_experiment_input_collection_path(@experiment.id)}
          %i{:class => "icon-plus icon-white"}
          Add Collection
  .well.well-large
    .control-group
      %h4= "Output Collection"
      .controls
        = render 'output_collections'
        - unless @experiment.has_output_collection?
          %a{:class => "btn btn-primary btn-small", :href => new_experiment_output_collection_path(@experiment.id)}
            %i{:class => "icon-plus icon-white"}
            Add Collection
  .form-actions
    = f.submit "Edit Experiment", :class => "btn btn-primary"
    %a.btn{:href => experiments_path} Cancel

= link_to 'Show', @experiment