%table.table
  %tr
    %th Title
    %th
      = @experiment.title
  %tr
    %th Date
    %th
      = @experiment.date
  %tr
    %th Owner
    %th
      = @experiment.user.full_name
  %tr
    %th Input Collections
    %th
      - @input_collections.each do |input|
        %div= input.name
  %tr
    %th Output Collection
    %th None

.form-actions

= link_to 'Edit', edit_experiment_path(@experiment)
\|
= link_to 'Back', experiments_path
