- content_for :breadcrumb do
  -title "Experiments / #{@experiment.title}"

%table.table
  %tr
    %th Title
    %th.table-value
      = @experiment.title
  %tr
    %th Date
    %th.table-value
      = @experiment.date
  %tr
    %th Owner
    %th.table-value
      = @experiment.user.full_name
  %tr
    %th Input Collections
    %th.table-value
      - @input_collections.each do |input|
        %div.form-inline
          = link_to input.name, experiment_input_collection_path(@experiment, input)
          - unless input.party_record.blank?
            = "- #{input.party_record.full_name}"
  %tr
    %th Output Collection
    %th.table-value
      - @output_collections.each do |output|
        %div= link_to output.name, experiment_output_collection_path(@experiment, output)

.form-actions
  %a.btn.btn-primary{:href => edit_experiment_path(@experiment)} Edit Experiment
  - if @experiment.published?
    %a.btn.btn-danger.btn-right.disabled Publish
  - else
    %a.btn.btn-danger.btn-right{:href => "/publish/#{@experiment.id}"} Publish
  %a.btn{:href => experiments_path} Back
