= form_for [@party_record] do |f|
  = render "shared/error_messages", :target => @party_record

  .control-group
    = f.label :abbreviation, "Abbreviation", :class => "control-label"
    .controls
      = f.text_field :abbreviation

  .control-group
    = f.label :full_name, "Full name", :class => "control-label"
    .controls
      = f.text_field :full_name

  .control-group
    = f.label :description, "Description", :class => "control-label"
    .controls
      = f.cktext_area :description, :toolbar => 'Full'

  .control-group
    = f.label :address, "Address", :class => "control-label"
    .controls
      = f.cktext_area :address, :toolbar => 'Full'

  .control-group
    = f.label :url, "URL", :class => "control-label"
    .controls
      = f.text_field :url

  .control-group
    = f.label :for_code1, "FOR Code 1 (optional)", :class => "control-label"
    .controls
      = f.collection_select :for_code1, @subject_codes, :display_name, :display_name, :include_blank => "None"
  .control-group
    = f.label :for_code2, "FOR Code 2 (optional)", :class => "control-label"
    .controls
      = f.collection_select :for_code2, @subject_codes, :display_name, :display_name, :include_blank => "None"
  .control-group
    = f.label :for_code3, "FOR Code 3 (optional)", :class => "control-label"
    .controls
      = f.collection_select :for_code3, @subject_codes, :display_name, :display_name, :include_blank => "None"
  .control-group
    = f.label :access_rights, "Default Access Rights", :class => "control-label"
    .controls
      = f.text_area :access_rights, :rows => '5'
  .control-group
    = f.label :license, "Default License", :class => "control-label"
    .controls
      = f.text_area :license, :rows => '5'

  .form-actions
    = f.submit "#{@parties.new_record? ? 'Create' : 'Edit'} Party Record", :class => "btn btn-primary"
    %a.btn{:href => experiments_path} Cancel
