= form_for [@experiment, @input_collection] do |f|
  = render "shared/error_messages", :target => @input_collection

  .well
    .control-group
      = f.label :name, "Name", :name => "control-label"
      .controls
        = f.text_field :name
    .control-group
      = f.label :description, "Description", :class => "control-label"
      .controls
        = f.cktext_area :description, :toolbar => 'Full'
    .control-group
      = f.label :for_code1, "FOR code", :class => "control-label"
      .controls
        = f.collection_select :for_code1, @subject_codes, :display_name, :display_name, :include_blank => "", :required => true
    .control-group
      = f.label :for_code2, "FOR code (optional)", :class => "control-label"
      .controls
        = f.collection_select :for_code2, @subject_codes, :display_name, :display_name, :include_blank => ""
    .control-group
      = f.label :for_code3, "FOR code (optional)", :class => "control-label"
      .controls
        = f.collection_select :for_code3, @subject_codes, :display_name, :display_name, :include_blank => ""
    .control-group
      = f.label :collection_type, "Collection type", :class => "control-label"
      %label.radio
        = f.radio_button :collection_type, "Remote", :class => "collection_type"
        Remote
      %label.radio
        = f.radio_button :collection_type, "Local", :class => "collection_type"
        Local
  .well{:id => 'collection_form'}
    .control-group
      = f.label :party_record, "Owner of collection"
      .controls
        = f.collection_select :party_record_id, @party_records, :id, :full_name, :include_blank => ""
    .control-group
      = f.label :license, "License", :class => "control-label"
      .controls
        = f.text_area :license, :rows => 5
    .control-group
      = f.label :access_rights, "Access rights", :class => "control-label"
      .controls
        = f.text_area :access_rights, :rows => 5
    .control-group
      = f.label :location, "Location", :name => "control-label"
      .controls
        = f.text_field :location
    .control-group
      = f.label :website_name, "Website name", :name => "control-label"
      .controls
        = f.text_field :website_name
    .control-group
      = f.label :url, "Website URL", :name => "control-label"
      .controls
        = f.text_field :url

  .form-actions
    = f.submit "#{@input_collection.new_record? ? 'Create' : 'Update'} Input Collection", :class => "btn btn-primary"
    %a.btn{:href => edit_experiment_path(@experiment)} Cancel
