- content_for :breadcrumb do
  -title "Experiments / Input Collections / #{@input_collection.name}"

%table.table.table-striped
  %thead
    %th
  %tbody
    %tr

  %tr
    %th Name
    %th.table-value
      = @input_collection.name
  %tr
    %th Description
    %th.table-value
      = @input_collection.description.to_s.html_safe
  %tr
    %th License
    %th.table-value
      = @input_collection.license
  %tr
    %th Access rights
    %th.table-value
      = @input_collection.access_rights
  %tr
    %th Location
    %th.table-value
      = @input_collection.location
  %tr
    %th Party
    %th.table-value
      - unless @input_collection.party_record.nil?
        = @input_collection.party_record.full_name
  %tr
    %th FOR code
    %th.table-value
      = @input_collection.for_code1
  %tr
    %th FOR code
    %th.table-value
      = @input_collection.for_code2
  %tr
    %th FOR code
    %th.table-value
      = @input_collection.for_code3
  %tr
    %th Website name
    %th.table-value
      = @input_collection.website_name
  %tr
    %th Website URL
    %th.table-value
      = @input_collection.url

.form-actions
  - if can?(:edit, @user) then
    %a.btn.btn-primary{:href => edit_experiment_input_collection_path(@experiment, @input_collection)} Edit Input Collection
    %a.btn{:href => edit_experiment_path(@experiment)} Back