!!!
%html
  %head
    = render 'layouts/head'
    = render 'layouts/banner'
  %body
    = render 'layouts/content'


    -#content_home01
      = yield :title

    -#content
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close{"data-dismiss" => "alert"} ×
          = msg
      = yield

  %footer
    = render 'layouts/footer'